<!DOCTYPE html>
<html>

<head>
<title>Nxeco Login Form</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Nxeco, amazon echo, login page" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>

<body>
		<div class="main">
			<h1>Nxeco</h1>
			<form action="/login" method="post">
				<div class="input_form">
					<input type="text" name="username" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
					<input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
				</div>
				<div class="ckeck-bg">
				<div class="checkbox-form">
					<div class="check-left">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Remember my Password</label>
						</div>
					</div>
					<div class="check-right">
							<input type="submit" value="Login">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			</form>
		</div>
		<div class="footer">
			<p>Learn more about <a href="http://nxeco.com">Nxeco.</a></p>
      <p>&copy 2016 Rounded Flat User Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
		</div>
	<!-- //main -->
</body>
</html>
